/* Bootstrap navbar style */
.navbar-text {
    color: #FFFFFF;
    vertical-align: center;
}

/* Bootstrap Cards Style */
.card {
    color: #FFFFFF;
    background-color: #474A4F;
    border-color: #87C232;
    border-width: 1;
}

.card-body{
    color: #FFFFFF;
    background-color: #222629;
}
.card-footer{
    background-color: #222629;
    border-top: #222629;
}

/* Bootstrap button style  */
.btn{
    color: #222629;
    background-color: #87C232;
    border-color: #87C232;  
}

