html
  head
    title= Homepage
    style
      include ../public/bootstrap/css/bootstrap.min.css
  body
    include ./partials/header.pug
    h Here the homepage will be implemented
    script(src="bootstrap/js/bootstrap.min.js")