script.  
    function addIngredient(){
        // First create a DIV element.
        var newInput = document.createElement('div');
        // Then add the content of the element.
        newInput.innerHTML = "<input ( type='text', name='quantity', value='Quantity')><input ( type='text', name='ingredient', value= 'Ingredient')><p></p>";
        // Finally put it where it is supposed to appear.
        document.getElementById("newIngredient").appendChild(newInput);
    }
body
    form(action='/recipes/newRecipe', method= 'POST')
        p
        |   Recipe:
        input(type='text', name='recipeName', value='', required)
        p 
        |   Description:
        input(type='text', name='description', value='')
        p
        |   Preperation time:
        input(type='number', name='preperationTime', value='')
        p 
        |   Cooking time:
        input(type='number', name='cookingTime', value='')
        p
        |   Persons:
        input(type='number', name='persons', value='')
        p   Cooking instruction:  
        p
        textarea(name='Part1', cols='60', rows='5', required)
        p
        p   Ingredients:
        input(type='text', name='quantity', value= 'Quantity' required)
        input(type='text', name='ingredient', value='Ingredient' required)
        p
        input(type='text', name='quantity', value= 'Quantity' required)
        input(type='text', name='ingredient', value='Ingredient' required)
        p
        input(type='text', name='quantity', value= 'Quantity' required)
        input(type='text', name='ingredient', value='Ingredient' required)
        p
        div(id="newIngredient")
        input(type='button', value='More Ingredients', onclick="addIngredient()")
        p
        |   Source:
        input(type='text', name='source', value='')
        p
        input(type='submit', value='Submit recipe')

