body
    form(action='/recipes/newRecipe', method= 'POST')
        p
        |   Recipe:
        input(type='text', name='recipeName', value='', required)
        p 
        |   Description:
        input(type='text', name='description', value='')
        p
        |   Preperation time:
        input(type='number', name='preperationTime', value='')
        p 
        |   Cooking time:
        input(type='number', name='cookingTime', value='')
        p
        |   Persons:
        input(type='number', name='persons', value='')
        p   Cooking instruction:  
        p
        textarea(name="instructions", cols="40", rows="10", required)
        p
        |   Ingredients:
        input(type='text', name='ingredients', value='', required)
        p
        |   Source:
        input(type='text', name='source', value='')
        p
        input(type='submit', value='Add recipe')